<% include ../partials/header %>

<h1>Members page!</h1>

<%if(currentAdmin){ %>
    <a href="/members/new"><button>Add a Member!</button></a>
<% } %>

<% members.forEach(function(member) { %>
    <div>
        <h2>
            <%= member.firstName + " " + member.lastName.slice(0,1) %>
        </h2>
        <img src="<%= member.image %>" alt="">
        <p>
            position: <%= member.position %>
        </p>
        <a href="/members/<%= member._id %>">Read More!</a>
    </div>
<% }) %>

<% include ../partials/footer %>