<h1>ISSA LOGIN!</h1>

<form action="/admin/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>