<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Beta Epsilon Sigma</title>
            <link rel="stylesheet" type= 'text/css' href="/stylesheets/app.css">
        </head>
        <body>
            <p>From the header file!</p>