<% include ../partials/header %>

    <h1>
        <%= announcement.title %>
    </h1>
    <hr>
    <p>
        <%= announcement.body %>
    </p>
    <span>
        <%= announcement.created.toDateString() %>
    </span>
    <form action="/announcements/<%= announcement._id %>?_method=DELETE" method="POST">
        <button>DELETE!</button>
    </form>

<% include ../partials/footer %>