<link rel="stylesheet" type= 'text/css' href="/stylesheets/404.css">
<div class="pageContainer">
    <h2>
        Oops! Page not found
    </h2>
    <h1>
        404
    </h1>
    <p>
        We can't find the page your're looking for.
    </p>
    <a href="/">
        Go back home
    </a>
</div>