

.board-thumbnails { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 500px;
    margin: 0 5pt 0 5pt;
    background-size: cover;
  }

  .boardMemberHeadshots{
    width:100%;
    height:200px;
    object-fit: cover;
    object-position: center;
  }

  .viewAllBtn{
    width:100%;
    height:200px;
    object-fit: cover;
    object-position: center;
    border: none;
    background-color: #94949423;
    outline: none !important;
    
  }


  #show-page-photo{
    height: 650px;
  }

  .footer{
    background-color: #2f3640;
    box-shadow: 0 50vh 0 50vh #2f3640;
    color: white;
  }