.social-media{
    margin-top: 20px;
}

.social-media a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #0c4558;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
    text-decoration: none;
}

.social-media a:hover{
    background: #580c1f;
}

.social-media a i{
    transition: 0.4s all;
}

.social-media a:hover > i{
    transform: scale(1.2) rotate(25deg);
}