<% include ../partials/header %>

<div class="container">
    <div class="">
        <h1>
            Beta Epsilon Sigma
        </h1>
        <h3>
            Frater Sorem
        </h3>
        <h4>
            First Among Equals
        </h4>
    </div>
    <div class="">
        <h2>
            Meet the board of directors
        </h2>
        <div class="row">
            <div class="col-lg text-center">
                Person one!
            </div>
            <div class="col-lg text-center">
                Person two!
            </div>
            <div class="col-lg text-center">
                Person three!
            </div>
            <div class="col-lg text-center">
                Person four!
            </div>
        </div>
    </div>
</div>

<a href="/admin/register">register</a>
<a href="/admin/login">Log In</a>
<a href="/admin/logout">Log Out</a>

<% include ../partials/footer %>