<% include ../partials/header %>

<% if(currentAdmin){ %>
    <h1> Welcome Admin!</h1>
<%}%>


    <div class="">
        <h1>
            Beta Epsilon Sigma
        </h1>
        <h3>
            Frater Sorem
        </h3>
        <h4>
            First Among Equals
        </h4>
    </div>
    <div class="">
        <h2>
            Meet the board of directors
        </h2>
        <div class="row">
            <div class="col-lg board-thumbnails" style="background: url('../TestPhotos/1.jpg') 50% 50% no-repeat;">

            </div>
            <div class="col-lg board-thumbnails" style="background: url('../TestPhotos/2.jpg') 50% 25% no-repeat;">

            </div>
            <div class="col-lg board-thumbnails" style="background: url('../TestPhotos/3.jpg') 50% 25% no-repeat;">

            </div>
            <div class="col-lg board-thumbnails" style="background: url('../TestPhotos/4.jpg') 65% 50% no-repeat;">
           
            </div>
        </div>
    </div>


<% include ../partials/footer %>