<% include ../partials/header %>

<% if(currentAdmin){ %>
    <h1> Welcome Admin!</h1>
<%}%>


    <div class="">
        <h1>
            Beta Epsilon Sigma
        </h1>
        <h3>
            Frater Sorem
        </h3>
        <h4>
            First Among Equals
        </h4>
    </div>
    <div class="">
        <h2>
            Meet the board of directors
        </h2>

        <div class="row">
            <% boardMembers.forEach(function(member){ %>
                <div class="col-md-4 col-sm-12">
                    <img class="boardMemberHeadshots" src="<%= member.image %>">
                    <h4 class="text-center"><%= member.firstName %></h4>
                </div>
            <% })%>
        </div>
        

        
            
            
        
    </div>


<% include ../partials/footer %>